{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="de" prefix="og: https://ogp.me/ns#">
  <head>
    {% include "meta.html" %}
    <link rel="stylesheet" href="{% static 'fonts/rubik.css' %}" />
    <style>
      body {
        font-family: "Rubik", sans-serif;
      }
    </style>
    <base target="_blank" />
    {% block css %} {% endblock %} {% tailwind_css %}
  </head>
  <body class="flex flex-col w-screen min-h-screen justify-between">
    <main class="flex flex-row justify-center p-3">
      <div class="w-full lg:w-4/5 xl:w-3/5 2xl:w-1/2">
        {% block content %} {% endblock %}
      </div>
      {% block admin %} {% if user.is_authenticated %}
      <div class="fixed top-0 left-0 py-1 px-2 bg-white">
        <a href="/admin">Zum Admin</a>
      </div>
      {% endif %} {% endblock %}
    </main>
    <footer class="text-center text-sm p-2 pt-5">
      <a href="{% url 'main' %}"><b class="font-bold">aktivistisch.de</b></a> |
      <a href="{% url 'impressum' %}">Impressum</a>
    </footer>
  </body>
  {% block javascript %} {% endblock %}
</html>
