{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{% block title%}Aktiv werden?{%endblock%}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik"
    />
    <style>
      body {
        font-family: "Rubik", sans-serif;
      }
    </style>
    <base target="_blank" />
    {% block css %} {% endblock %} {% tailwind_css %}
  </head>
  <body>
    <main class="flex flex-row justify-center p-3">
      <div class="w-full lg:w-4/5 xl:w-3/5 2xl:w-1/2">
        {% block content %} {% endblock %}
      </div>
    </main>
    {% block admin %} {% if user.is_authenticated %}
    <div class="fixed top-0 left-0 py-1 px-2 bg-white">
      <a href="/admin">Zum Admin</a>
    </div>
    {% endif %} {% endblock %}
  </body>
  {% block javascript %} {% endblock %}
</html>
