{% extends "base.html" %} {% load idea_tools %} {% block content %}
<div class="mb-5">
  <div
    class="p-3 bg-theme text-white font-bold uppercase bg-cover bg-center lg:h-64 h-56 flex flex-col justify-end lg:text-5xl md:text-4xl text-3xl mb-3 shadow break-words"
    style="{{ idea.image_as_background }}"
  >
    <div>{{ idea.name }}</div>
  </div>
  <a
    target="_self"
    href="{% url 'idea-overview' %}"
    class="flex flex-row justify-start items-center border-2 border-theme border-b-0 px-3 py-1 uppercase hover:bg-theme hover:text-white duration-100"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="mr-2 w-5 h-5 block"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
      />
    </svg>
    <div>Zurück zur Übersicht</div>
  </a>
  <div class="border-2 border-theme">
    <div class="flex md:flex-row flex-col">
      <div
        class="w-full md:w-2/3 md:border-r-2 md:border-b-0 border-b-2 border-theme p-3"
      >
        <div class="mb-2 usertext">{{ idea.description|safe }}</div>
        {% if idea.example %}
        <div>
          <div class="font-bold">Beispiel</div>
          <div class="usertext">{{ idea.example|safe }}</div>
        </div>
        {% endif %}
      </div>
      <div class="flex-grow p-3">
        <div class="w-full mb-4">
          {% if idea.experience_note %}
          <div class="flex items-center justify-between text-sm">
            <div class="flex flex-row items-center space-x-1 mb--5">
              <div class="font-bold">Notwendige Erfahrung</div>
            </div>
            <div>{{ idea.experience_level|experience_to_text }}</div>
          </div>
          <div class="text-sm italic font-thin mb-1 pl-2">
            {{ idea.experience_note}}
          </div>
          {% else %}
          <div class="flex items-center justify-between text-sm mb-1">
            <div class="flex flex-row items-center space-x-1">
              <div class="block font-bold">Notwendige Erfahrung</div>
            </div>
            <div>{{ idea.experience_level|experience_to_text }}</div>
          </div>
          {% endif %}
          <div
            class="flex-start flex h-5 w-full overflow-hidden border-2 border-theme"
          >
            <div
              style="width: {{ idea.experience_level|to_percent }}%"
              class="flex items-center justify-center h-full overflow-hidden text-white break-all bg-theme"
            ></div>
          </div>
        </div>
        <div class="w-full mb-4">
          {% if idea.effort_note %}
          <div class="flex items-center justify-between text-sm">
            <div class="flex flex-row items-center space-x-1 mb--5">
              <div class="font-bold">Aufwand</div>
            </div>
            <div>{{ idea.effort_level|effort_to_text }}</div>
          </div>
          <div class="text-sm italic font-thin mb-1 pl-2">
            {{ idea.effort_note}}
          </div>
          {% else %}
          <div class="flex items-center justify-between text-sm mb-1">
            <div class="flex flex-row items-center space-x-1">
              <div class="block font-bold">Aufwand</div>
            </div>
            <div>{{ idea.effort_level|effort_to_text }}</div>
          </div>
          {% endif %}
          <div
            class="flex-start flex h-5 w-full overflow-hidden border-2 border-theme"
          >
            <div
              style="width: {{ idea.experience_level|to_percent }}%"
              class="flex items-center justify-center h-full overflow-hidden text-white break-all bg-theme"
            ></div>
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between text-sm">
            <h6 class="block font-bold">Benötigte Menschen</h6>
            <h6 class="block">{{idea|people_span}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-7">
  <div class="lg:text-4xl md:text-3xl text-2xl font bold">Anleitung</div>
  <details>
    <summary class="text-sm text-gray-500 cursor-pointer">Navigation</summary>
    <ol>
      {% for step in idea.steps.all %}
      <li class="list-decimal list-inside text-sm">
        <a target="_self" href="#{{ step.name|slugify }}"> {{ step.name }} </a>
      </li>
      {% endfor %}
    </ol>
  </details>
  {% for step in idea.steps.all %}
  <div id="{{ step.name|slugify }}" class="mt-5">
    <div class="text-xl font-bold">
      <a href="#{{ step.name|slugify }}" target="_self" class="text-gray-500"
        >#{{forloop.counter}}</a
      >
      {{ step.name }}
    </div>
    <div class="mt-3 usertext">{{ step.content|safe }}</div>
  </div>
  {% endfor %}
</div>
{% endblock %} {% block javascript %}
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script lang="javascript">
  tippy("[data-tooltip]", {
    content: (reference) => reference.getAttribute('data-tooltip'),
  });
</script>
{% endblock %}
