{% extends "base.html" %} {% load idea_tools %}{% block content %}
<div class="mb-5">
  <div
    class="p-3 bg-theme text-white font-bold uppercase bg-cover bg-center lg:h-64 h-56 flex flex-col justify-end lg:text-5xl md:text-4xl text-3xl mb-3 shadow break-words"
    style="{{ idea.image_as_background }}"
  >
    <h1>{{ idea.name }}</h1>
  </div>
  <a
    target="_self"
    href="{% url 'main' %}"
    class="flex flex-row justify-start items-center border-2 border-theme border-b-0 px-3 py-1 uppercase hover:bg-theme hover:text-white duration-100"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="mr-2 w-5 h-5 block"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
      />
    </svg>
    <div>Zurück zur Übersicht</div>
  </a>
  <div class="border-2 border-theme">
    <div class="flex md:flex-row flex-col">
      <div
        class="w-full md:w-2/3 md:border-r-2 md:border-b-0 border-b-2 border-theme p-3"
      >
        <div class="mb-2 usertext">{{ idea.description|safe }}</div>
        {% if idea.example %}
        <div>
          <div class="font-bold">Beispiel</div>
          <div class="usertext">{{ idea.example|safe }}</div>
        </div>
        {% endif %}
      </div>
      <div class="flex-grow p-3">
        <div class="w-full mb-4">
          {% if idea.experience_note %}
          <div class="flex items-center justify-between text-sm">
            <div class="flex flex-row items-center space-x-1 mb--5">
              <div class="font-bold">Notwendige Erfahrung</div>
            </div>
            <div>{{ idea.experience_level|experience_to_text }}</div>
          </div>
          <div class="text-sm italic font-thin mb-1 pl-2">
            {{ idea.experience_note}}
          </div>
          {% else %}
          <div class="flex items-center justify-between text-sm mb-1">
            <div class="flex flex-row items-center space-x-1">
              <div class="block font-bold">Notwendige Erfahrung</div>
            </div>
            <div>{{ idea.experience_level|experience_to_text }}</div>
          </div>
          {% endif %}
          <div
            class="flex-start flex h-5 w-full overflow-hidden border-2 border-theme"
          >
            <div
              style="width: {{ idea.experience_level|to_percent }}%"
              class="flex items-center justify-center h-full overflow-hidden text-white break-all bg-theme"
            ></div>
          </div>
        </div>
        <div class="w-full mb-4">
          {% if idea.effort_note %}
          <div class="flex items-center justify-between text-sm">
            <div class="flex flex-row items-center space-x-1 mb--5">
              <div class="font-bold">Aufwand</div>
            </div>
            <div>{{ idea.effort_level|effort_to_text }}</div>
          </div>
          <div class="text-sm italic font-thin mb-1 pl-2">
            {{ idea.effort_note}}
          </div>
          {% else %}
          <div class="flex items-center justify-between text-sm mb-1">
            <div class="flex flex-row items-center space-x-1">
              <div class="block font-bold">Aufwand</div>
            </div>
            <div>{{ idea.effort_level|effort_to_text }}</div>
          </div>
          {% endif %}
          <div
            class="flex-start flex h-5 w-full overflow-hidden border-2 border-theme"
          >
            <div
              style="width: {{ idea.experience_level|to_percent }}%"
              class="flex items-center justify-center h-full overflow-hidden text-white break-all bg-theme"
            ></div>
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between text-sm">
            <h6 class="block font-bold">Benötigte Menschen</h6>
            <h6 class="block">{{idea|people_span}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-7">
  <h2 class="lg:text-4xl md:text-3xl text-2xl font bold">Anleitung</h2>
  <details>
    <summary class="text-sm text-gray-500 cursor-pointer">Navigation</summary>
    <ol>
      {% for step in idea.steps.all %}
      <li class="list-decimal list-inside text-sm">
        <a target="_self" href="#{{ step.name|slugify }}"
          ><h3>{{ step.name }}</h3></a
        >
      </li>
      {% endfor %}
    </ol>
  </details>
  {% for step in idea.steps.all %}
  <div id="{{ step.name|slugify }}" class="mt-5">
    <div class="text-xl font-bold">
      <a href="#{{ step.name|slugify }}" target="_self" class="text-gray-500"
        >#{{forloop.counter}}</a
      >
      {{ step.name }}
    </div>
    <div class="mt-3 usertext">{{ step.content|safe }}</div>
  </div>
  {% endfor %}
</div>
{% if idea.attachments.count > 0 %}
<div class="mt-7 mb-5">
  <h2 class="lg:text-4xl md:text-3xl text-2xl font bold mb-3">Materialien</h2>
  {% if idea.downloads.count > 0 %}
  <div class="text-xl mb-2">Downloads</div>
  <div class="flex mb-3 flex-col md:flex-row space-x-1">
    {% for download in idea.downloads %}
    <a
      href="{{ download.file.url }}"
      class="flex flex-row items-center border rounded p-3 hover:bg-gray-100 duration-75 cursor-pointer space-x-2"
    >
      {% if download.file_type == 'pdf' %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
        />
      </svg>
      {% else %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
        />
      </svg>
      {% endif %}
      <div>{{download.name}}</div>
    </a>

    {% endfor %}
  </div>
  {% endif %}{% if idea.resources.count > 0 %}
  <div class="text-xl mb-2">Weitere Ressourcen</div>
  <div class="flex flex-col mb-3 space-y-2">
    {% for resource in idea.resources %}
    <details class="flex-grow border rounded">
      <summary
        class="flex flex-row justify-between items-center hover:bg-gray-100 duration-75 cursor-pointer p-3"
      >
        <div>{{ resource.name }}</div>
        <div>
          Herunterladen als
          <a href="{% url 'attachment-pdf' resource.id %}">PDF</a> |
          <a href="{% url 'attachment-docx' resource.id %}">DOCX</a>
        </div>
      </summary>
      <div class="p-3 border-t">{{resource.content|safe}}</div>
    </details>

    {% endfor %}
  </div>
  {% endif %}
</div>
{% endif %} {% endblock %} {% block javascript %}
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script lang="javascript">
  tippy("[data-tooltip]", {
    content: (reference) => reference.getAttribute('data-tooltip'),
  });
</script>
{% endblock %}
