{% extends "base.html" %} {% load idea_tools %} {% block content %}
<!--
<div id="control" class="mb-3 mt-2 bg-white flex sticky top-0 py-3">
  <div class="w-full flex md:flex-row flex-col">
    <div class="w-full md:w-2/3">
      <input
        type="text"
        class="text-sm w-full border-2 border-theme border-r-0"
        placeholder="Suchen..."
      />
    </div>
    <div class="flex-grow">
      <select class="w-full text-sm border-2 border-theme">
        <option>Notwendige Erfahrung (zunehmend)</option>
        <option>Notwendige Erfahrung (abnehmend)</option>
        <option>Aufwand (zunehmend)</option>
        <option>Aufwand (abnehmend)</option>
      </select>
    </div>
  </div>
</div>
-->
<div>
  <h1 class="block text-7xl uppercase text-center font-bold mt-16 mb-5">
    {{overview.title}}
  </h1>
  <div class="mb-5 usertext">{{overview.overview_text|safe}}</div>
</div>
<div class="mb-5 text-sm ml-5">
  {% if faq|length != 0 %}
  <b class="font-black mb-3"
    >Zum <a target="_self" class="highlight" href="#faq">FAQ</a></b
  >
  <br />
  {% endif %}
  <b class="font-black">Zu den Projektideen:</b>
  {% for idea in object_list|dictsort:"name" %}
  <a target="_self" class="pl-1 highlight" href="#{{idea.slug}}"
    >{{idea.name}}</a
  >
  {% endfor %}
</div>

{% if predictions|length != 0 %}
<div class="mb-10">
  <div class="font-bold mb-2">Aktuellste Hochrechnungen:</div>
  {% for prediction in predictions %}
  <div class="w-full">
    <div class="text-sm absolute top-1/2 h-1/2"></div>
    <div class="w-full h-8 border mb-1 flex">
      {% for party in prediction.predictionpercentage_set.all %}
      <div
        data-tippy-content="{{ party.percentage }}%"
        class="flex items-center pl-1 text-sm whitespace-nowrap overflow-visible uppercase font-bold"
        style="background-color: {{party.party.color}}; width: {{party.percentage}}%; color: {{ party.party.contrast_color }};"
      >
        {% if forloop.first %} {{ prediction.name }} {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  <div class="justify-end flex space-x-4 flex-wrap">
    {% for party in parties %}
    <div class="flex items-center">
      <div
        class="h-3 w-3 rounded-full mr-1 {% if party.border %} border {% endif %}"
        style="background-color: {{party.color}};"
      ></div>
      {{party.name}}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} {% for idea in object_list %}
<div class="mb-5 mt-5">
  <div
    id="{{ idea.slug }}"
    class="p-3 bg-theme text-white font-bold uppercase bg-cover bg-center h-56 flex flex-col justify-end text-3xl md:text-4xl lg:text-5xl mb-3 shadow break-words"
    style="{{ idea.image_as_background }}"
  >
    <h2>{{ idea.name }}</h2>
  </div>
  <div class="border-2 border-theme">
    <div class="flex md:flex-row flex-col">
      <div
        class="w-full md:w-2/3 md:border-r-2 md:border-b-0 border-b-2 border-theme p-3"
      >
        <div class="mb-2 usertext">{{ idea.description|safe }}</div>
        {% if idea.example %}
        <div>
          <div class="font-bold usertext">Beispiel</div>
          <div>{{ idea.example|safe }}</div>
        </div>
        {% endif %}
      </div>
      <div class="flex-grow p-3">
        <div class="w-full mb-4">
          <div class="font-bold text-sm mb-1">Notwendige Erfahrung:</div>
          <div
            class="flex-start flex h-5 w-full overflow-hidden border-2 border-theme"
          >
            <div
              style="width: {{ idea.experience_level|to_percent }}%"
              class="flex items-center justify-center h-full overflow-hidden text-white break-all bg-theme"
            ></div>
          </div>
          <div class="text-sm flex justify-between">
            <div>keine</div>
            <div>viel</div>
          </div>
        </div>
        <div class="w-full mb-4">
          <div class="font-bold text-sm mb-1">Aufwand:</div>
          <div
            class="flex-start flex h-5 w-full overflow-hidden border-2 border-theme"
          >
            <div
              style="width: {{ idea.effort_level|to_percent }}%"
              class="flex items-center justify-center h-full overflow-hidden text-white break-all bg-theme"
            ></div>
          </div>
          <div class="text-sm flex justify-between">
            <div>minimal</div>
            <div>hoch</div>
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between text-sm">
            <div class="block font-bold">Benötigte Menschen:</div>
            <div class="block">{{idea|people_span}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    href="{% url 'idea-detail' idea.slug %}"
    target="_self"
    class="flex flex-row justify-end items-center border-2 border-theme border-t-0 px-3 py-1 uppercase hover:bg-theme hover:text-white duration-100"
  >
    <div>Zu {{ idea.name }}</div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="ml-2 w-5 h-5 block"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
      />
    </svg>
  </a>
</div>
{% empty %} Es existieren keine Projektideen (unwahrscheinlich lol) {% endfor %}
{% if faq|length != 0 %}
<div id="faq" class="mt-10">
  <h2 class="font-bold text-3xl md:text-4xl lg:text-5xl uppercase mb-3">
    Fragen & Antworten
  </h2>
  <div>
    {% for item in faq|dictsort:"question" %}
    <div>
      <h3 class="font-black text-xl">{{ item.question }}</h3>
      <div class="usertext">{{ item.answer|safe}}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} {% endblock %} {% block javascript %}
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
  tippy("[data-tippy-content]");
</script>
{% endblock %}
